/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

BorderPane {
	-fx-background-color: blue;
	-fx-border-color: red;
	-fx-border-width: 5px;
	-fx-border-style: solid;
}

BorderPane:hover {
	-fx-background-color: red;
}

#title {
	-fx-padding: 10px;
	-fx-font-size: 40px;
	-fx-text-fill: white;
	-fx-alignment: center;	
	-fx-font-weight: bold;
	-fx-border-width: 2px;
	-fx-border-color: white;
	-fx-border-radius: 50px;	
}

VBox {
	-fx-spacing: 20px;
	-fx-background-color: orange;
}

.btn {
	-fx-background-color: black;
	-fx-text-fill: white;
	-fx-padding: 12px 24px;
	-fx-font-size: 20px;	
	-fx-border-radius: 30px;
}
