/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

/* 전체 */
.root {
	/* 그라데이션 배경 */
	-fx-background-color: linear-gradient(to bottom right, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
}

.title-label {
	-fx-font-size: 42px;
	-fx-font-weight: bold;
	-fx-text-fill: #333;	
}

.menu-label {
	-fx-font-size: 28px;
	-fx-text-fill: white;
}

.image-pane {
	-fx-background-color: rgba(0, 0, 0, 0.3);
	-fx-background-radius: 20px;
	-fx-border-radius: 20px;
	-fx-border-color: rgba(255,255,255,0.8);
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 20, 0, 0, 6);	
	-fx-padding: 20;	
}

.btn {
	-fx-font-size: 24px;
	-fx-background-color: #ff8c00;
	-fx-text-fill: white;
	-fx-background-radius: 30px;
	-fx-cursor: hand;
}

.btn:hover {
	-fx-background-color: #ffae42;
}